<div id="floatingCart" class="cart-dropdown-wrap cart-dropdown-hm2">
    <ul id="cartItemList">
        
    </ul>
    <div class="shopping-cart-footer">
        <div class="shopping-cart-total">
            <h4>Total <span id="cartTotal">$4000.00</span></h4>
        </div>
        <div class="shopping-cart-button">
            <a href="@Url.Action("OrdersCheckout","Orders")">Checkout</a>
        </div>
    </div>
</div>