<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button btn " type="button" data-bs-toggle="collapse" data-bs-target="#AccountContainer" aria-expanded="true" aria-controls="AccountContainer">
            Create Account
        </button>
    </h2>
    <div id="AccountContainer" data-bs-parent="#addressAcc" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="d-flex flex-row card p-3 m-1">
                <div class="d-flex flex-column justify-content-center ms-4 ml-4 w-100">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0 border-bottom " id="email" placeholder="Address">
                        <label for="floatingPassword">Email</label>
                    </div>
                    <div class="form-floating  mb-3">
                        <input type="text" class="form-control border-0 border-bottom" id="password" placeholder="Address">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <input type="button" class="btn btn-success" id="btnCreateAccount" value="Submit">
                </div>
            </div>
            <!-- Second Address with Radio Button -->
        </div>
    </div>
</div>