@using PrimeValLife.Web.Models.Dashboard
@using TUT.Utilities.Methods
@model List<OrderViewModel>

<div class="tab-pane fade" id="orders" name="orders" role="tabpanel" aria-labelledby="orders-tab">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Your Orders</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>#@item.OrderId</td>
                                <td>@item.OrderDate</td>
                                <td>@item.Status.GetDescription()</td>
                                <td><span class="currency">@item.TotalPrice.ToString("0.00")</span> for @item.TotalQuantity item</td>
                                <td><a href="" class="btn-small d-block">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>